# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

provider "aws" {
  region = "{{ region }}"
}

terraform {
  required_version = ">=1.6"
  required_providers {
    aws = {
      source  = "hashicorp/aws"
      version = "~>5.0"
    }
  }
  backend "s3" {
    dynamodb_table = "{{ ddb_table }}"
    bucket         = "{{ bucket }}"
    key            = "terraform.tfstate"
    region         = "{{ region }}"
    kms_key_id     = "{{ kms_key_id }}"
  }
}